@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
  font-family: Arial, sans-serif;
}


/* variables.css */

:root {
  --color-bg: #fff;
  --color-fg: #333;
  --border-radius: 10px;
  --color-inside: #f5f5f5;
  --color-inside-dark: #444;
}

/* navigation.css */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: var(--color-bg);
  color: var(--color-fg);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-radius: 0;
}

.topnav {
  background-color: var(--color-bg);
  color: var(--color-fg);
  padding: 1em;
  text-align: center;
  position: relative;
  border-radius: var(--border-radius);
}

.topnav a {
  color: var(--color-fg);
  text-decoration: none;
  padding: 10px;
  background-color: var(--color-inside);
  border-radius: 5px;
  margin: 0 5px;
  display: inline-block;
}

.topnav a:hover {
  color: #ccc;
  background-color: #555;
}

.topnav .icon {
  display: none;
  background-color: var(--color-bg);
  color: var(--color-fg);
  padding: 10px;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.dark .topnav {
  background-color: #333;
  color: #333;
}

.dark .topnav .icon {
  background-color: var(--color-inside-dark);
  color: #fff;
  display:block;
}

@media only screen and (min-width: 769px) {
  .dark .topnav a.icon {
    display: none;
  }
  .dark .topnav.responsive {
    position: relative;
  }
  .dark .topnav.responsive a {
    display: inline-block;
  }
}

@media only screen and (max-width: 768px) {
  .topnav {
    position: relative;
  }
  .topnav a {
    display: none;
  }

  .topnav a.icon {
    display: none;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    background-color: #333;
    border-radius: 50%;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a {
    display: block;
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  .topnav.responsive a:last-child {
    border-bottom: none;
  }
  .topnav.responsive .icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
}

.dark .topnav.responsive {
  background-color: var(--color-inside-dark);
  color: #fff;
}

.dark .topnav.responsive a {
  color: #333;
}

.dark .topnav.responsive a:hover {
  color: #fff;
  background-color: #333;
}

.checkbtn {
  display: block;
  font-size: 1.5rem;
  color: var(--color-fg);
  cursor: pointer;
  z-index: 1001;
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 4.5rem;
  left: 0;
  background: var(--color-bg);
  z-index: 1001;
  width: 200px;
  border-radius: var(--border-radius);
}

.nav-mobile a {
  color: var(--color-fg);
  padding: 1rem 1.5rem;
  display: block;
}

#check {
  display: none;
}

#check:checked ~ .nav-mobile {
  display: block;
}

/* main.css */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  border-radius: var(--border-radius);
  margin-bottom: 10rem;
}

section {
  background-color: var(--color-inside);
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  color: var(--color-fg);
  border-radius: var(--border-radius);
}

h1 {
  font-size: 18px;
  margin-bottom: 5px;
}

p {
  font-size: 14px;
  margin-bottom: 10px;
}

footer {
  background-color: var(--color-bg);
  color: var(--color-fg);
  padding: 10px;
  text-align: center;
  clear: both;
  border-radius: 0;
}

input[type="checkbox"] {
  display: none;
}

img {
  max-width: 100%;
  height: 300px;
  display: block;
  margin: 0 auto;
  border-radius: var(--border-radius);
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  border-radius: var(--border-radius);
}

.image-grid img {
  width: 100%;
  height: auto;
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  transition: background 0.2s linear;
}

body.dark {
  background-color: #333;
}

body.dark h1,
body.dark .support a,
body.dark section,
body.dark footer,
body.dark .nav-mobile a,
body.dark nav {
  color: #fff;
  background-color: var(--color-inside-dark);
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1001;
}

.fa-moon,
.fa-sun {
  color: #fff;
  font-size: 1.2rem;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

.menu-toggle {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
  border: none;
  background: none;
}

.menu-toggle:focus {
  outline: none;
}

.menu-toggle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 5px;
  background: #333;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
}

.menu-toggle::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 5px;
  background: #333;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
}

.menu-toggle:checked::before {
  transform: rotate(45deg);
}

.menu-toggle:checked::after {
  transform: rotate(-45deg);
}

/* toggle theme button */

.checkbox-theme {
  opacity: 0;
  position: absolute;
}

.checkbox-theme-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: fixed;
  top: 1rem;
  right: 4rem;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1001;
}

.checkbox-theme-label .ball-theme {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox-theme:checked + .checkbox-theme-label .ball-theme {
  transform: translateX(24px);
}

@media (max-width: 768px) {
  .topnav .icon {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .topnav.responsive .icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .image-grid img {
    width: 100%;
    height: auto;
  }
}
